<head>
  <link rel="stylesheet" href="/app.css">
  <script src="script.js"></script>
<head>
<body>
  <h1>JOIN US</h1>
  <p class="lead">Enter your email address to join <strong><%= count %></strong> others are on our waitlist, we are not a cult</p>
  <form method="POST" action="/register">
    <input name="email" type="text" class="form" placeholder="Enter Your Email">
    <button>Join Now</button>
</body>


