<head>
  <link rel="stylesheet" href="/app.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="script.js"></script>
<head>
<body>
  <h1>APIs</h1>
  <p class="align-left">coinbase : <span id="coinbase-btc"></span></p>
  <p class="align-left">poloienx : <span id="poloienx-btc"></span></p>
  <p class="align-left">korbit : <span id="korbit-btc"></span></p>
</body>


